* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-image: url("images/wallpaper-15.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/***********************************************/
/************ navbar ***************************/
/***********************************************/

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 10px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
 /*********** middle content ***********/
.header {
    background-color: rgba(0, 0, 0, 0.5);
}

/***********************************************/
/************ footer ***************************/
/***********************************************/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.facebook,
.instagram {
    display: inline;
}

#copyright {
    font-size: .75em;
    color: white;
    display: inline;
}

.copy {
    padding-bottom: 10px;
}

/***********************************************/
/************ media queries ********************/
/***********************************************/

/* 280px 280px 280px 280px 280px 280px */
/***************************************/
@media screen and (min-width: 280px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: .7em;
        color: rgb(255, 255, 255);
    }
    /* header */
    .gracey-wallpaper {
        color: rgb(255, 255, 255);
        font-size: 2em;
    }

    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }

    .copy {
        padding-bottom: 3px;
    }
}

/* 320px 320px 320px 320px 320px 320px */
/***************************************/
@media screen and (min-width: 320px) {
    /* navbar */
    li a {
        padding: 7px 4px;
        font-size: .75em;
        color: rgb(0, 255, 200);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.50em;
        margin: -160.00px 0 0 -165.00px;
        padding: 0 20px 10px 20px;
    }
    /* footer */
    .copy {
        padding-bottom: 5px;
    }
}

/* 375px 375px 375px 375px 375px 375px */
/***************************************/
@media screen and (min-width: 375px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: 1em;
        color: rgb(255, 136, 0);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
        margin: -188.00px 0 0 -188.00px;
        padding: 0 25px 10px 25px;
    }
    /* footer */
    .copy {
        padding-bottom: 5px;
    }
}

/* 425px 425px 425px 425px 425px 425px */
/***************************************/
@media screen and (min-width: 425px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: 1.10em;
        color: rgb(0, 255, 0);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.5em;
        margin: -218.00px 0 0 -218.00px;
        padding: 0 70px 10px 0px;
    }
    /* footer */
    .copy {
        padding-bottom: 15px;
    }
}

/* 768px 768px 768px 768px 768px 768px */
/***************************************/
@media screen and (min-width: 768px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.5em;
        color: yellow;
        width: 110%;
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
}

/* 1024px 1024px 1024px 1024px 1024px */
/**************************************/
@media screen and (min-width: 1024px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.5em;
        color: rgb(0, 102, 255);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
}

/* 1440px 1440px 1440px 1440px 1440px */
/**************************************/
@media screen and (min-width: 1440px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.5em;
        color: red;
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
}

/* 2560px 2560px 2560px 2560px 2560px */
/**************************************/
@media screen and (min-width: 2560px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.5em;
        color: rgb(91, 1, 143);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
}


