* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Lora', serif;
}

body {
    background-image: url("images/wallpaper-15.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/***********************************************/
/************ navbar ***************************/
/***********************************************/

.navbar {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 10px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

hr {
    margin-bottom: 5px;
}

hr.style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/***********************************************/
/************ header ***************************/
/***********************************************/

.header {
    background-color: rgba(0, 0, 0, 0.5);
}

.gracey-wallpaper {
    padding-bottom: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.slogan {
    color: white;
    padding-bottom: 10px;
}

/***********************************************/
/************ footer ***************************/
/***********************************************/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
}

.facebook,
.instagram {
    display: inline;
}

.facebook {
    margin-right: 20px;
}

#copyright {
    font-size: .75em;
    color: white;
    display: inline;
}

.copy {
    padding-bottom: 10px;
}

/***********************************************/
/************ media queries ********************/
/***********************************************/

/***************************************/
/* 280px 280px 280px 280px 280px 280px */
/***************************************/
@media screen and (min-width: 280px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: .7em;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    /* header */
    .gracey-wallpaper {
        color: rgb(255, 255, 255);
        font-size: 2em;
    }

    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }

    .copy {
        padding-bottom: 5px;
    }
}

/***************************************/
/* 320px 320px 320px 320px 320px 320px */
/***************************************/
@media screen and (min-width: 320px) {
    /* navbar */
    li a {
        padding: 7px 4px;
        font-size: .75em;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    /* header */
    .gracey-wallpaper {
        color: rgb(255, 255, 255);
        font-size: 2.15em;
    }
    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }

    .copy {
        padding-bottom: 5px;
    }
}

/***************************************/
/* 375px 375px 375px 375px 375px 375px */
/***************************************/
@media screen and (min-width: 375px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: .9em;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    /* header */
    .gracey-wallpaper {
        color: rgb(255, 255, 255);
        font-size: 2.25em;
    }
    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }

    .copy {
        padding-bottom: 5px;
    }
}

/***************************************/
/* 425px 425px 425px 425px 425px 425px */
/***************************************/
@media screen and (min-width: 425px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }
    /* header */
    .gracey-wallpaper {
        color: rgb(255, 255, 255);
        font-size: 2.5em;
    }
    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }
    
    .copy {
        padding-bottom: 5px;
    }
}

/***************************************/
/* 768px 768px 768px 768px 768px 768px */
/***************************************/
@media screen and (min-width: 768px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.25em;
        color: rgb(255, 255, 255);
        width: 110%;
    }
    /* header */
    .gracey-wallpaper {
        color: rgb(255, 255, 255);
        font-size: 3em;
    }
    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }
    
    .copy {
        padding-bottom: 5px;
    }
}

/**************************************/
/* 1024px 1024px 1024px 1024px 1024px */
/**************************************/
@media screen and (min-width: 1024px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: .5em;
        color: rgb(255, 255, 255);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
    .logo-facebook,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }
    
    .copy {
        padding-bottom: 5px;
    }
}

/**************************************/
/* 1440px 1440px 1440px 1440px 1440px */
/**************************************/
@media screen and (min-width: 1440px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.5em;
        color: rgb(255, 255, 255);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }
    
    .copy {
        padding-bottom: 5px;
    }
}

/**************************************/
/* 2560px 2560px 2560px 2560px 2560px */
/**************************************/
@media screen and (min-width: 2560px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.5em;
        color: rgb(255, 255, 255);
    }
    /* header */
    .gracey-wallpaper {
        font-size: 1.75em;
    }
    /* footer */
    .fa.fa-facebook-square,
    .fa.fa-instagram {
        font-size: 1.5em;
        margin-top: 5px;
    }
    
    .copy {
        padding-bottom: 5px;
    }
}


