* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-color: goldenrod;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/***********************************************/
/************ navbar ***************************/
/***********************************************/

#navbar {
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 10px;
    width: 110%;
}

a:hover {
    background-color: goldenrod;
    color: black;
}

hr {
    margin-bottom: 5px;
}

#hr-nav {
    margin-bottom: 0;
    margin-top: 5px;
} 

hr.style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/***********************************************/
/************ gallery **************************/
/***********************************************/
#gallery {
    line-height: 0;
    column-gap: 5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}

/***********************************************/
/************ footer ***************************/
/***********************************************/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .95);
    position: sticky;
    top: 0;
    z-index: 100;
}

.social-media-links {
    display: inline;
}

.logo-facebook,
.logo-instagram {
    font-size: 2em;
}

#copyright {
    font-size: .75em;
    color: white;
    display: inline;
}

.copy {
    padding-bottom: 5px;
}

/***********************************************/
/************ media queries ********************/
/***********************************************/

/***************************************/
/* 280px 280px 280px 280px 280px 280px */
/***************************************/
@media screen and (min-width: 280px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: .7em;
        font-weight: bold;
    }

    /* gallery */
    #gallery {
        column-count: 1;
    }
}

/***************************************/
/* 320px 320px 320px 320px 320px 320px */
/***************************************/
@media screen and (min-width: 320px) {
    /* navbar */
    li a {
        padding: 7px 4px;
        font-size: .75em;
        font-weight: bold;
    }

    /* gallery */
    #gallery {
        column-count: 1;
    }
}

/***************************************/
/* 375px 375px 375px 375px 375px 375px */
/***************************************/
@media screen and (min-width: 375px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: .9em;
        font-weight: bold;
    }

    /* gallery */
    #gallery {
        column-count: 1;
    }
}

/***************************************/
/* 425px 425px 425px 425px 425px 425px */
/***************************************/
@media screen and (min-width: 425px) {
    /* navbar */
    li a {
        padding: 7px 5px;
        font-size: 1em;
    }

    /* gallery */
    #gallery {
        column-count: 1;
    }
}

/***************************************/
/* 768px 768px 768px 768px 768px 768px */
/***************************************/
@media screen and (min-width: 768px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.25em;
    }

    /* gallery */
    #gallery {
        column-count: 2;
    }
}

/**************************************/
/* 1024px 1024px 1024px 1024px 1024px */
/**************************************/
@media screen and (min-width: 1024px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.25em;
    }

    /* gallery */
    #gallery {
        column-count: 3;
    }
}

/**************************************/
/* 1440px 1440px 1440px 1440px 1440px */
/**************************************/
@media screen and (min-width: 1440px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.25em;
    }

    /* gallery */
    #gallery {
        column-count: 4;
    }
}

/**************************************/
/* 1920px 1920px 1920px 1920px 1920px */
/**************************************/
@media screen and (min-width: 1920px) {
    /* navbar */
    li a {
        padding: 7px 20px;
        font-size: 1.25em;
    }

    /* gallery */
    #gallery {
        column-count: 5;
    }
}



